body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    padding: 24px 24px 38px 24px;
    margin: 0;
    width: 900px;
    height: 900px;
}

.top-bar {
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 6px 0 12px 0;
}

.top-bar > button {
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 6px; 
    padding: 2px;
    cursor: pointer;
    margin: 0;
    font-size: 16px;
}

.top-bar > .next-color {
    border: 1px solid white;
    width: 25px;
    height: 25px;
}

.container > .row {
    background-color: #363636;
    display: flex;
    flex: 1 1 0;
}

.container > .row > .grid {
    background-color: #484848;
    width: 56.25px;
    height: 56.25px;
}