* {
    background-color: #121212;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    padding: 32px;
    margin: 0;
    width: 900px;
    height: 900px;
}

.container > .row {
    background-color: #363636;
    display: flex;
    flex: 1;
}

.container > .row > .grid {
    background-color: #484848;
    /* border: 1px solid white; */
    width: 56.25px;
    height: 56.25px;
}